@import "tailwindcss";

@theme {
  --animate-float: float 3s ease-in-out infinite;
  --animate-bounce-slow: bounceSlow 2s infinite;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes bounceSlow {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }
}

body {
  @apply bg-zinc-950 text-white;
  margin: 0;
}